In [25]:
import pandas as pd
import pickle
from sklearn.feature_extraction.text import CountVectorizer,TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [26]:
imdbdata=pd.read_csv("IMDB Dataset.csv")

In [27]:
imdbdata.sample(3)

                                                  review sentiment
23125  Halloween is not only the godfather of all sla...  positive
37411  Seriously what were they thinking? Over the co...  negative
33411  THis movie shows us once again, how genius the...  positive

In [28]:
imdbdata.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [29]:
imdbdata["sentiment"].replace({"positive":0,"negative":1},inplace=True)

In [30]:
imdbdata.sample(3)

                                                  review  sentiment
13366  What a trip down memory lane.<br /><br />Do no...          0
2498   This film breeches the fine line between satir...          1
22617  I am sad that a period of history that is so f...          1

In [31]:
print("Null Data Count")
print(imdbdata.isna().sum())

Null Data Count
review       0
sentiment    0
dtype: int64

In [32]:
countVectorizer=CountVectorizer()
data_count_vects=countVectorizer.fit_transform(imdbdata["review"])

In [33]:
TfTrans=TfidfTransformer()
data_trans_vectors=TfTrans.fit_transform(data_count_vects)

In [34]:
train,test,train_label,test_label=train_test_split(data_trans_vectors,imdbdata['sentiment'],test_size=0.3,random_state=42,shuffle=True)

In [35]:
Mnb=MultinomialNB()
model=Mnb.fit(train,train_label)
predictions=model.predict(test)

In [36]:
print("Accuracy Score :: ",accuracy_score(test_label,predictions))
print()
print("Confusion Matrix :: ",confusion_matrix(test_label,predictions))
print()
print("Classification Report :: ",classification_report(test_label,predictions))

Accuracy Score ::  0.8603333333333333

Confusion Matrix ::  [[6281 1308]
 [ 787 6624]]

Classification Report ::                precision    recall  f1-score   support

           0       0.89      0.83      0.86      7589
           1       0.84      0.89      0.86      7411

    accuracy                           0.86     15000
   macro avg       0.86      0.86      0.86     15000
weighted avg       0.86      0.86      0.86     15000

In [37]:
def getTextTransformedValue(review):
    count_data=countVectorizer.transform([review])
    trans_data=TfTrans.fit_transform(count_data)
    return trans_data

In [38]:
def getPredictions(transText):
    return model.predict(transText)

In [39]:
cv=open("countvectorizer.pickle","wb")
pickle.dump(countVectorizer,cv)

In [42]:
tf=open("tfidftransformer.pickle","wb")
pickle.dump(TfTrans,tf)
tf.close()

In [43]:
algorithm=open("algorithm.pickle","wb")
pickle.dump(model,algorithm)
algorithm.close()